MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/?retryWrites=true&w=majority&appName=AppName
SECRET_KEY=your-super-secret-key-change-this-in-production
DATABASE_NAME=prodmanager
FLASK_ENV=production